<h1>Editing task</h1>

<%= error_messages_for :task %>

<% form_for([@task.project, @task]) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Project</b><br />
    <%= f.collection_select :project_id, Project.find(:all), :id, :title %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', project_task_path(params[:project_id], @task) %> |
<%= link_to 'Back', project_tasks_path %>
