<p>
  <b>Title:</b>
  <%=h @task.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Project:</b>
  <%=h @task.project_id %>
</p>


<%= link_to 'Edit', edit_project_task_path(params[:project_id], @task) %> |
<%= link_to 'Back', project_tasks_path %>
