<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= render :partial => "tasks/tasks", :locals => {:tasks => @project.tasks, :project_id => @project.id} %>
